@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Henny+Penny&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');



    body{
        padding: 0;
        margin: 0;
        font-family: 'Mulish', sans-serif;
        background-color: #21212E;
        position: relative;
        overflow-x:hidden;
        width:100%;
        max-width:100%;
        min-width:100%;

    }


/*PRE-LOADER*/
.loader_bg{
    position: fixed;
    z-index: 9999999;
    background:#21212E ;
    width: 100%;
    height:100%;
}

.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before, .loader:after{
    content:" ";
    border: 1em solid #BD11FA;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader:before{
    animation-delay: .6s;
}

@keyframes loader {
0%{
    transform: scale(0);
    opacity: 0;
}
    50%{
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}




.nav-bar{
    position: relative;
    margin-top: 20px;
    transition: .5s ease;
}

.nav-item1{
    display: inline-block;
}


.logo{
    position: fixed;
    left:100px;

}

.nav-list {

    position: fixed;
    right:100px;


}

.nav-link{
    color: grey;
    font-size: 13px;
}
#active{
    color: ghostwhite !important;
}
.nav-link:hover{
    color: ghostwhite;
}

.toggle-button{
    background-color: transparent;
    border: none;
    color: grey;
    position: absolute;
    z-index: 9;
    right: 10px;
    display: none;
}



.bubbles img{
    width: 50px;
    opacity: 0;
    animation: bubble linear 25s infinite;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes bubble {
    100% {
        transform: translateY(0);
        opacity: 0.3;
    }
    95% {
        transform: translateY(-50vh);
        opacity: 0.2;
    }
    90% {
        transform: translateY(-100vh);
        opacity: 0.2;
    }
    80% {
        transform: translateY(-150vh);
        opacity: 0.2;
    }
    70% {
        transform: translateY(-200vh);
        opacity: 0.2;
    }
    60% {
        transform: translateY(-250vh);
        opacity: 0.3;
    }
    50% {
        transform: translateY(-300vh);
        opacity: 0.3;
    }
    40% {
        transform: translateY(-350vh);
        opacity: 0.3;
    }
    30% {
        transform: translateY(-400vh);
        opacity: 0.3;
    }
    25% {
    transform: translateY(-500vh);
    opacity: 0.3;
}
    20% {
        transform: translateY(-550vh);
        opacity: 0.3;
    }
    10% {
        transform: translateY(-600vh);
        opacity: 0.3;
    }
    0% {
        transform: translateY(-650vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 20px;
}
.bubbles img:nth-child(2){
    animation-delay: 4s;
    width: 30px;
}
.bubbles img:nth-child(3){
    animation-delay: 11s;
    width: 10px;

}
.bubbles img:nth-child(4){

    animation-delay: 6s;
    width: 40px;
}
.bubbles img:nth-child(5){
    animation-delay: 10s;
    width: 60px;
}
.bubbles img:nth-child(6){
    animation-delay: 5s;
}
.bubbles img:nth-child(7){
    animation-delay: 7.5s;
    width: 20px;
}
.bubbles img:nth-child(8){
    animation-delay: 2.7s;
    width: 15px;
}
.bubbles img:nth-child(9){
    animation-delay: 3.7s;
    width: 25px;
}
.bubbles img:nth-child(10){
    animation-delay: 0.3s;
    width: 40px;
}
.bubbles img:nth-child(11){
    animation-delay: 8s;
    width: 5px;
}
.bubbles img:nth-child(12){
    animation-delay: 9.2ms;
    width: 50px;
}
.bubbles img:nth-child(13){
    animation-delay: 13s;
    width: 30px;
}




.table-dark{
    background: #BD11FA;
    background: linear-gradient(169deg, rgba(2,0,36,1) 0%, rgba(216,17,250,0.5130427170868348) 40%, rgba(0,212,255,1) 100%);

}

.alert-success{
    border: none;
    margin-top: 100px;
    color: white;
    background: #BD11FA;
    background: linear-gradient(169deg, rgba(2,0,36,1) 0%, rgba(216,17,250,0.5130427170868348) 40%, rgba(0,212,255,1) 100%);
}

.heading{
    font-family:Staatliche;
}
hr{
    margin: 0;
    right:0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height:2px;
    background: #BD11FA;
    background: linear-gradient(169deg, rgba(2,0,36,1) 0%, rgba(216,17,250,0.5130427170868348) 40%, rgba(0,212,255,1) 100%);
    /*width:90%;*/
    text-align:right;
}

.button{
    padding: 1px 25px;
    border-radius: 10px;
    border: white 1px solid;
    background-color: transparent;
    color: ghostwhite;
    font-size: 12px;
}

.button1{
    padding: 11px 35px;
    border-radius: 5px;
    border:none;
    background: rgb(2,0,36);
    background: linear-gradient(169deg, rgba(2,0,36,1) 0%, rgba(216,17,250,0.5130427170868348) 40%, rgba(0,212,255,1) 100%);

    color: ghostwhite;
    font-size: 12px;
    /*-webkit-box-shadow: 0px -2px 15px 5px rgba(130,46,255,1);*/
    /*-moz-box-shadow: 0px -2px 15px 5px rgba(130,46,255,1);*/
    /*box-shadow: -2px -2px -10px 1px rgba(130,46,255,1);*/
    transition: 3s;
}

.button1:hover{
    transition: 3s;
    /*background-color: rgba(130,46,255,1);*/
    background-color: #BD11FA;
}

                    /*NAVBAR*/
#header{
    height: auto;
    overflow: hidden;
    background-color: #21212E;
    position: relative;
}


.navbar-nav .nav-item{
   margin-right:40px;
    font-size: 13px;
}

nav .navbar-nav li  a:hover{
    color: #BD11FA !important;
}


                            /*SHOWCASE*/
.showcase {
    padding-top: 15%;
    color: ghostwhite;
}
.showcase h1{
    margin-top: 30%;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Fugaz One', cursive;
    font-weight: lighter !important;
}
.showcase p{
    font-size: 13px;
}

/*SOCIALS*/
.socials{
    z-index:999999;
}

.point{
    margin-top: 10%;

}
                                /*BOXES*/
#about{
    margin-top: 5%;
    color: ghostwhite;
    position: relative;
}


.middle-text{
    padding-top: 10%;
    margin-bottom: 50px;
}
.middle-text p{
    padding-top: 20px;
    font-size: 15px;
    color: grey;
}

.box{

    border: #010101 ;
    height: 331px;
    width: 300px;
    -webkit-box-shadow: 0px -2px 15px 5px rgba(0,0,0,1);
    -moz-box-shadow: 0px -2px 15px 5px rgba(0,0,0,1);
    box-shadow: 0px -2px 15px 5px rgba(0,0,0,1);
}

.box p{
    font-size: 12px;
}

.upper{
    height: 60px;
}
.middle{
    background-color: #39394D;
    border: #707070 1px solid;
    height: 60px;
    padding-left: 5%;
    padding-top: 5%;
    color:#BD11FA;
}
.bottom{
    padding-left: 5%;
    padding-top: 5%;
    color: grey;
}
.bottom h5{
    color:ghostwhite;
    padding-bottom: 10px;
    padding-top: 20px;
}

.second{
    position: absolute;
    top: 100px;
    right: 2px;
}
.third{
    margin-top:30px;
}


                    /*SIDEBAR*/
.sidebar{
    margin-top: 10%;
    bottom: 50px;
    left: 0;
}

.sidebar a{
    z-index: 99999;
    display:block;
    margin-left: 90%;
    padding-bottom: 20px;
}

.sidebar ul{
    list-style: none;
}

.sidebar i{
    font-size: 20px;
    color:#BD11FA;
}

.footer-socials{
  margin-left: 20px !important;
}
.footer-socials a{
    font-size: 20px !important;
    color:#BD11FA !important;
    padding-right: 20px !important;

}

/*PROGRESS BARS*/
.bars{
    width: 100%;
    margin-top: 10%;
    background-color: #262635;
    color: ghostwhite;
}
.real{
    line-height: 20px;
}
.bars .row{
    padding: 100px 0px;
}
.bars p{
    font-size: 12px;
}
.progress-bar{
    background: rgb(250,17,213);
    background: linear-gradient(304deg, rgba(250,17,213,0.8015581232492998) 40%, rgba(0,212,255,1) 100%);
}
.bar-section{
    margin-top: 9%;
}

/*RECENT WORKS*/
.recent-works{
    margin-top: 10%;
    color:ghostwhite;
    text-align: center;
}
.recent-works a{
    color:ghostwhite;
}

.recent-works a:hover{
    color:ghostwhite;
    text-decoration: none;
}

.recent-works p{
    display: block !important;
}
.text-area{
    padding-top: 15%;
}
.ovate{
    margin-top: 8%;
    margin-bottom: 7%;
}


/*GET-IN-TOUCH*/
.get-in-touch{
   margin-top: 10%;
}
.get-in-touch input{
    background-color: transparent;
    border:none;
    border-bottom: grey 1px solid;
    position:absolute;
    top:40px;
    margin-right: 20px;
    color: white;
}

.get-in-touch input:focus  {
    background-color: transparent;
    outline: none;
    border-bottom: grey 1px solid;
    transition: .7s ease;
    width: 250px;
    color:white;
}

.get-in-touch input ~ span{
    transition:top .7s ease;
    position:absolute;
    top:20px;

}
.get-in-touch input:focus ~ span{
    top:0px;
    background-color: transparent;
    outline: none;
    font-size: 14px;

}
.get-in-touch textarea{
    border: none !important;
    overflow: auto !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background-color: transparent;
    border-bottom: grey 1px solid !important;
    position:absolute;
    top:20px;
    margin-right: 20px;
    width: 450px;
    color: white;
}
.get-in-touch textarea:focus{
    background-color: transparent;
    border-bottom: grey 1px solid;
    color: white;
}
.get-in-touch textarea ~ span{
    transition:top .7s ease;
    position:absolute;
    top:20px;
}
.get-in-touch textarea:focus ~ span{
    top:0px;
    background-color: transparent;
    outline: none;
    font-size: 14px;
}
.get-in-touch button{
    position: absolute;
    top: 300px;
}

/*FOOTER*/
footer{
    margin-top: 3%;
    color: ghostwhite;
    padding: 20px;
}

/*.copyright{*/
/*    left:80%;*/
/*    padding-top:2%*/
/*}*/


/*IPAD*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)and (-webkit-min-device-pixel-ratio: 1)
    {
        #header{
           height: auto;
        }



    /*NAVBAR*/


    .nav-list{

        position: fixed;
        right: -200px !important;
        top: 0;
        width: 250px;
        height: 200vh;
        background-color: #21212E !important;
        padding-top: 150px !important;
        /*transition: width 600ms ease;*/
        transition:  600ms ease !important;
    }

    .nav-list-gone{
        right: 0px !important;

    }

    .toggle-button{
        display: inline-block !important;
        position: fixed;
        right: 80px;
    }

    .nav-item1{
        display:block;
        /*text-align: center;*/
        padding-top: 20px !important;
    }

    .logo{
        position: fixed;
        left:50px;

    }

        /*.navbar {*/
        /*    margin-top: 10px;*/
        /*}*/
        /*.navbar .navbar-nav  {*/

        /*    background-color: #BD11FA;*/
        /*    color: #1d2c43;*/
        /*}*/
        /*.navbar .navbar-nav > li >a{*/


        /*    text-align: center;*/
        /*    padding-top: 20px !important;*/

        /*}*/
        /*.navbar .navbar-nav > li >a {*/
        /*    color:ghostwhite !important;*/
        /*}*/

        /*.navbar .navbar-nav > li:last-child{*/
        /*    padding-bottom: 20px !important;*/
        /*}*/

        /*.navbar .navbar-nav > li > a:hover {*/
        /*    color:#BD11FA !important;*/
        /*}*/
    #portfolio h5, .about-text h6{
        font-size: 15px;
    }
    #portfolio p, .showcase p, .about-text p{
        font-size: 10px;
        margin-bottom: 20px;
    }


    .showcase h1 {
        font-size: 19px;
    }
        /*BOXES*/
        .boxes{
            margin-top: 15%;
        }

        .middle-text{
            padding-top: 5%;
        }
        .second{
            right: 40px;
        }
        #about{
            margin-top: 2%;
            color: ghostwhite;
            position: relative;
        }
   /*GET IN TOUCH*/
        .get-in-touch .textarea1{
            margin-top: 40px;
        }

        .get-in-touch textarea{
            width: 300px;

        }

        .get-in-touch input{
            background-color: transparent;
            border:none;
            border-bottom: grey 1px solid;
            position:absolute;
            top:20px;
            margin-right: 20px;
            width:140px;
        }

        .get-in-touch input:focus  {
            background-color: transparent;
            outline: none;
            border-bottom: grey 1px solid;
            transition: .7s ease;
            width:150px;
            color:white;
        }

        /*.bars{*/
        /*    width: 100%;*/
        /*    padding: 1000px;*/
        /*}*/
    }





/*PHONE*/

@media screen and (max-width:700px) {

    #header{
        overflow-x:hidden !important;
    }
    body{
        position: relative !important;
        overflow-x:hidden !important;
        width:100% !important;
        max-width:100% !important;
        min-width:100% !important;

    }


    /*SHOWCASE*/
    .showcase{
        margin-top: 12%;
        max-width: 100% !important;
        overflow-x:hidden !important;
    }
    .showcase h1 {
        font-size: 19px;
    }


    #portfolio h5, .about-text h6{
        font-size: 15px;
    }
    #portfolio p, #services p, .showcase p, .about-text p{
        font-size: 10px;
        margin-bottom: 20px;
    }
    .imgs{
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
    }

    /*BOXES*/
    .boxes{
        margin-top: 15%;
        max-width: 100% !important;
        overflow-x:hidden !important;
    }

    .box{

        border: #010101 ;
        height: 331px;
        width: 250px;
        -webkit-box-shadow: 0px -2px 15px 5px rgba(0,0,0,1);
        -moz-box-shadow: 0px -2px 15px 5px rgba(0,0,0,1);
        box-shadow: 0px -2px 15px 5px rgba(0,0,0,1);
    }

    #portfolio h2, #services h5, .about-text h4 {
        font-size: 16px;
    }
    .second{
        display:none;
    }
    .bottom{
        padding-top: 5%;
        color: grey;
        padding-left: 5%;
    }


    /*BARS*/
    .about-text{
        padding-top: 15%;
    }

    .get-in-touch .textarea1{
        margin-top: 40px;
    }

.get-in-touch textarea{
        width: 300px;

}

    .get-in-touch input{
        background-color: transparent;
        border:none;
        border-bottom: grey 1px solid;
        position:absolute;
        top:20px;
        margin-right: 20px;
        width:140px;
    }

    .get-in-touch input:focus  {
        background-color: transparent;
        outline: none;
        border-bottom: grey 1px solid;
        transition: .7s ease;
        width:150px;
        color:white;
    }

    /*.copyright{*/
    /*    right: 100px;*/
    /*    font-size:13px;*/
    /*}*/

    /*.teymee{*/
    /*    padding-left:50px;*/
    /*    position:absolute;*/
    /*    left:5%;*/
    /*    top:25%;*/
    /*    font-size:20px;"*/
    /*}*/
    .teymee p{
        font-size: 13px;
    }

    .container1{
        width: 90%;
    }

    .button{
        padding: 1px 25px;
        border-radius: 10px;
        border: white 1px solid;
        background-color: transparent;
        color: ghostwhite;
        font-size: 12px;
    }

    .button1{
        padding: 11px 35px;
        border-radius: 5px;
        border:none;
        background: rgb(2,0,36);
        background: linear-gradient(169deg, rgba(2,0,36,1) 0%, rgba(216,17,250,0.5130427170868348) 40%, rgba(0,212,255,1) 100%);

        color: ghostwhite;
        font-size: 12px;
        box-shadow: 0px 0px 0px 0px rgba(130,46,255,1);
        -moz-box-shadow: 0px 0px 0px 0px rgba(130,46,255,1);
        box-shadow: 0px 0px 0px 0px rgba(130,46,255,1);
        transition: 3s;
    }

    .button1:hover{
        transition: 3s;
        /*background-color: rgba(130,46,255,1);*/
        background-color: #BD11FA;
    }

    .imgs {
        height: 80px;
        width: 80px;


    }
    footer{
        text-align: center;
    }


    /*SIDEBAR*/
    .navbar-nav{
        position: fixed;
        right: 0;
        top: 0;
        width: 300px;
        height: 120vh;
        background-color: #21212E !important;
        padding-top: 150px !important;
        /*transition: width 600ms ease;*/
        transition:  600ms ease !important;
    }




/*.navbar-collapse{*/
/*    transition: width 600ms ease;*/
/*}*/

    /*NAVBAR*/


    .nav-list{

        position: fixed;
        right: -200px !important;
        top: 0;
        width: 250px;
        height: 200vh;
        background-color: #21212E !important;
        padding-top: 150px !important;
        /*transition: width 600ms ease;*/
        transition:  600ms ease !important;
    }

    .nav-list-gone{
        right: 0px !important;

    }

    .toggle-button{
        display: inline-block !important;
        position: fixed;
        right: 150px;
        overflow: hidden;
    }

    .nav-item1{
        display:block;
        /*text-align: center;*/
        padding-top: 20px !important;
        }

    .logo{
        position: fixed;
        left:50px;

    }




        /*nav{*/
    /*    width: 80%;*/

    /*}*/
    /*.navbar {*/
    /*    margin-top: 10px;*/
    /*    !*transition: width 600ms ease;*!*/
    /*}*/
    /*.navbar .navbar-nav  {*/

    /*    background-color: #BD11FA;*/
    /*    color: #1d2c43;*/
    /*}*/
    /*.navbar .navbar-nav > li >a{*/


    /*    text-align: center;*/
    /*    padding-top: 20px !important;*/

    /*}*/
    /*.navbar .navbar-nav > li >a {*/
    /*    color:ghostwhite !important;*/
    /*}*/

    /*.navbar .navbar-nav > li{*/

    /*    padding-bottom: 20px !important;*/
    /*}*/
    /*.navbar .navbar-nav > li:last-child{*/
    /*    padding-bottom: 20px !important;*/
    /*}*/

    /*.navbar .navbar-nav > li > a:hover {*/
    /*    color:#BD11FA !important;*/
    /*}*/

    .socials a{
        z-index: 999999999;
    }

    footer{
        z-index: 0 ;
    }
}




